header {
    height: 50px;
    background-color: blue;
}

main {
    margin-top: 10px;
    background-color: orange;
    height: 200px;
    grid-template-rows: auto;
    gap: 20px;


}
t1 {
    height: 50px;
    background-color: greenyellow;
}