header {
    height: 50px;
    background-color: blue;
}

main {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    margin-top: 10px;

    .box1 {
        
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        .con {
            background-color: orange;
        }
    }
    .box2 {
        display: grid;
        grid-template-rows: repeat(4,1fr);
        gap: 10px;
        .con {
            background-color: orange;
        }
    }
    .box3 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 15px;
        .con {
            background-color: greenyellow;
        }
    }
    
}
h1 {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
   .box {
        background-color: greenyellow;
    }

}


